<div>
  <div>
    <h1>
      Material #<%= @the_material.id %> details
    </h1>

    <div>
      <div>
        <a href="/materials">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_material/<%= @the_material.id %>">
          Delete material
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Material name
      </dt>
      <dd>
        <%= @the_material.material_name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_material.description %>
      </dd>

      <dt>
        Material type
      </dt>
      <dd>
        <%= @the_material.material_type %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_material.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_material.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit material
    </h2>

    <form action="/modify_material/<%= @the_material.id %>"  method="post" >
      <div>
        <label for="material_name_box">
          Material name
        </label>

        <input type="text" id="material_name_box" name="query_material_name" value="<%= @the_material.material_name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_material.description %>">
      </div>

      <div>
        <label for="material_type_box">
          Material type
        </label>

        <input type="text" id="material_type_box" name="query_material_type" value="<%= @the_material.material_type %>">
      </div>

      <button>
        Update material
      </button>
    </form>
  </div>
</div>

<hr>
